*{
	margin: 0px;
	padding: 0px;
}
body {
	padding-top: 70px;
  font-family:'Lato', sans-serif;
}
.imageHeight{
	height: 170px;
	width: 170px;
}
.h3{
	margin-top: 0px;
}
h1,h2,h3,h4,hr{
	margin-top: 0px;
	margin-bottom: 15px;
}
.btnMargin{
	margin: auto;
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive, .thumbnail a>img,
.thumbnail>img { height:170px;}

.credits{
  clear:both;
  margin-top:30px;
   font-size: 16px;
  font-weight: 800;
}
.glyphicon-heart{
  color:red;
}
body{
  background-color: #F5F3EE;
}
/*button*/
.btn {
    padding: 10px 18px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    /*background: #0099cc;*/
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.btn.outline {
  background: none;
  padding: 12px 22px;
}
.btn-primary.raised {
  box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}
.btn-info.raised {
  box-shadow: 0 2px 0 0 #007299;
}
.btn-info.raised:active, .btn-info.raised.active {
  background: #5bc0de;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

.btn.outline {
  background: none;
  padding: 10px 18px;
}

.btn-primary.outline {
  border: 1px solid #0099cc;
  color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  border-color: #fff;
  background-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}

/*end buttons*/

.searchBox{
  width:350px;
  height: 39px;
}
.btn-margin{
  margin:15px;
}
.thumbnail-shadow{
  box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}
